.mitya {
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 20px 40px;
    position: absolute;
    left: 50%;
    top: 110px; /* Adjust the vertical position */
    transform: translate(-50%, 0);
}



.mitya h1 {
    font-size: 36px;
    text-align: center;
}

.mitya .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative; /* Required for positioning the icon */
}

.mitya .input-box input {
    width: calc(100% - 40px); /* Adjusted padding */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px;
    padding-right: 40px; /* Increased right padding for the icon */
}

.mitya .input-box input::placeholder {
    color: black;
}

.mitya .input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Adjusted vertical centering */
    font-size: 20px;
}

.mitya .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.mitya .remember-forgot label input {
    margin-right: 3px;
}

.mitya .remember-forgot a {
    color: black;
    text-decoration: none;
}

.mitya .remember-forgot a:hover {
    text-decoration: underline;
}

.mitya .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.mitya .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.mitya .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.mitya .register-link p a:hover {
    text-decoration: underline;
}

